
/* font */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    /* varible's */
    --primary-clr: #5dab28;
    --secondary-clr: #eb9f25;
    --light-clr: #fafafa;
    --input-clr: #cfcfcf;
    --font-clr: #0000001f;
    --shadow-box: 0 0 1rem -.5rem #4e4e4e;
}

html {
    /* rem init */
    font-size: 62.5%;
}

/* component's */


/* container */
.container {
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

body {
    font-size: 1.6rem;
    font-family: "Abel", sans-serif;
    font-weight: 500;
    font-style: normal;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}